<!DOCTYPE html>
<html>
<head>
    <title>developers</title>
    <link rel='stylesheet' href='/styles/devstyle.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
</head>
<body>

<div class="inner">
    <h1 style="margin-left: 50px; padding-top: 50px" >The Developers</h1>
    <nav>
        <ul class="nav masthead-nav">
            <li class="active"><a href="/developers" style="text-decoration: none; ">Contact Us</a></li>
            <li><a href="/signup" style="text-decoration: none; ">Sign Up</a></li>
            <li><a href="/login" style="text-decoration: none; ">Login</a></li>
            <li><a href="/index" style="text-decoration: none;">Home</a></li>
        </ul>
    </nav>
</div>

<div class="container marketing">

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Vikramraj Sitpal <span class="text-muted">(Front end Development)</span></h2>
            <p class="lead">I'm the Daddy</p>
        </div>
        <div class="col-md-5">
            <a href="http://www.github.com/vikramrajsitpal">
                <img id="img1" class="featurette-image img-circle center-block" data-src="holder.js/500x500/auto" alt="Vikram" src="/images/developers/Vikram.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <div id="rt">
                <h2 class="featurette-heading">Kunal Nagpal <span class="text-muted">(Back end Support)</span></h2>
                <p class="lead">Fill it up</p>
            </div>
        </div>
        <div id="kun" class="col-md-5 col-md-pull-7">
            <a href="http://www.github.com/kunagpal">
                <img id="img2" class="featurette-image img-circle center-block" data-src="holder.js/500x500/auto" alt="Kunal" src="/images/developers/Kunal.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Tanuj Aggarwal <span class="text-muted">(Front end development)</span></h2>
            <p class="lead">Hi I'm a midget</p>
        </div>
        <div class="col-md-5">
            <a href="http://www.github.com/bluffmaster95tanuj">
                <img id="img3" class="featurette-image img-circle center-block" data-src="holder.js/500x500/auto" alt="Tanuj" src="/images/developers/Tanuj.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; IWP Project Work</p>
    </footer>
</div>
</body>
</html>