<!DOCTYPE html>
<html>
  <head>
    <title>details</title>

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
  </head>
  <body>
  <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-user"></span> User
  </button>
  <ul class="nav nav-pills nav-justified">
      <li><a href="/userhome">HOME</a></li>
      <li class="active"><a href="#">DETAILS</a></li>
      <li><a href="/grades">GRADES</a></li>
      <li><a href="/gradespredicted">GRADES PREDICTION</a></li>
  </ul>

  </body>
</html>