<!DOCTYPE html>
<html>
  <head>
    <title>details</title>
      <link rel='stylesheet' href='/styles/detstyle.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
  <!-- Header -->
  <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-toggle"></span>
              </button>
              <a class="navbar-brand" href="#" style="color: #ffffff">Grade Predictor</a>
          </div>
          <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav navbar-right">

                  <li>
                      <a role="button" href="/home"  style="color: #ffffff">
                          <i class="glyphicon glyphicon-user"></i> <%= name%></a>
                  </li>
              </ul>
          </div>
      </div><!-- /container -->
  </div>
  <!-- /Header -->

  <!-- Main -->
  <div class="container">

      <!-- upper section -->
      <div class="row">
          <div class="col-sm-3">
              <!-- left -->
              <h3><i class="glyphicon glyphicon-education"></i> Menu</h3>
              <hr>

              <ul class="nav nav-stacked">
                  <li><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                  <li><a href="/details"><i class="glyphicon glyphicon-th-list"></i> Details</a></li>
                  <li><a href="/grades"><i class="glyphicon glyphicon-flag"></i> Grades</a></li>
                  <li><a href="/predict"><i class="glyphicon glyphicon-blackboard"></i> Grades Predicted</a></li>
                  <li><a href="/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
              </ul>

              <hr>

          </div><!-- /span-3 -->
          <div class="col-sm-9">

              <!-- column 2 -->
              <h3><i class="glyphicon glyphicon-th-large"></i> Details</h3>

              <hr>

              <div class="row">
                  <!-- center left-->
                  <div class="col-md-7">
                      <div class="well"><b><span class="glyphicon glyphicon-hand-down"></span> Personal Info</b></div>

                      <hr>

                      <div class="panel panel-default">
                          <div class="panel-heading"><h4><span class="glyphicon glyphicon-pushpin"></span> Education</h4></div>
                          <div class="panel-body">

                             <!--Write stuff here-->

                          </div><!--/panel-body-->
                      </div><!--/panel-->

                  </div><!--/col-->

                  <!--center-right-->
                  <div class="col-md-5">

                      <ul class="nav nav-justified">
                          <li><a title="Update Profile" href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                          <li><a title="Favourites" href="#"><i class="glyphicon glyphicon-heart"></i></a></li>
                          <li><a title="See profile" href="/details"><i class="glyphicon glyphicon-user"></i></a></li>
                          <li><a title="Feedback" data-toggle="modal" href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
                      </ul>

                      <hr>



                      <hr>

                      <div class="btn-group btn-group-justified">
                          <a href="#" class="btn btn-info col-sm-3">
                              <i class="glyphicon glyphicon-plus"></i><br>
                              Services
                          </a>
                          <a href="#" class="btn btn-info col-sm-3">
                              <i class="glyphicon glyphicon-cloud"></i><br>
                             Integrate with <br>Cloud
                          </a>
                          <a href="#" class="btn btn-info col-sm-3">
                              <i class="glyphicon glyphicon-question-sign"></i><br>
                              Help
                          </a>
                      </div>

                  </div><!--/col-span-6-->

              </div><!--/row-->
          </div><!--/col-span-9-->

      </div><!--/row-->
      <!-- /upper section -->


     <!--/row-->

  </div><!--/container-->
  <hr>
  <div class="container">
      <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
          <li><a href="#messages" data-toggle="tab">Messages</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
      </ul>

      <div class="tab-content">
          <div class="tab-pane active" id="profile">
              <h4><i class="glyphicon glyphicon-user"></i></h4>
              <p>Some text here.</p>
          </div>
          <div class="tab-pane" id="messages">
              <h4><i class="glyphicon glyphicon-comment"></i></h4>
              <p>Some text here.</p>
          </div>
          <div class="tab-pane" id="settings">
              <h4><i class="glyphicon glyphicon-cog"></i></h4>
              <p>Some text here.</p>
          </div>
      </div>
  </div>

  <!--tabs-->

  <!--/tabs-->
  <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      Please remember to Logout for classified security.
  </div>
  <!-- /Main -->
<hr class="featurette-divider">

  <footer class="text-center" style="margin-top: 50px">&copy;IWP Project Group - Vikram, Kunal and Tanuj</footer>




  </body>
</html>