<!DOCTYPE html>
<html>
<head>
    <title>developers</title>
    <link rel='stylesheet' href='/styles/devstyle.css' />
    <link rel='stylesheet' href='/styles/min.css' />
    <script type="text/javascript" src="/scripts/min.js"></script>
</head>
<body>
<div class="inner">
    <h1 style="padding: 50px">The Developers</h1>
    <nav>
        <ul class="nav masthead-nav">
            <li class="active"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.75);">Contact Us</a></li>
            <li><a href="/signup" style="text-decoration: none; color: rgba(255,255,255,.75);">Sign Up</a></li>
            <li  style="text-decoration: none; color: rgba(255,255,255,.75);"><a href="/login">Login</a></li>
        </ul>
    </nav>
</div>

<div class="container marketing">

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Vikramraj Sitpal <span class="text-muted">(Front end Development)</span></h2>
            <p class="lead">YOYO</p>
        </div>
        <div class="col-md-5">
            <a href="www.github.com/vikramrajsitpal">
            <img id="img1" class="featurette-image img-circle center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/images/developers/Vikram.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Kunal Nagpal <span class="text-muted">(Back end Support)</span></h2>
            <p class="lead">Bhar le be khud</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <a href="http://www.github.com/kunagpal">
            <img id="img2" class="featurette-image img-circle center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/images/developers/Kunal.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Tanuj Aggarwal <span class="text-muted">(Front end development)</span></h2>
            <p class="lead">Hi I'm a midget</p>
        </div>
        <div class="col-md-5">
            <a href="www.github.com/bluffmaster95tanuj">
            <img id="img3" class="featurette-image img-circle center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/images/developers/Tanuj.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; IWP Project Work</p>
    </footer>
</div>
</body>
</html>