<!DOCTYPE html>
<html>
<head>
    <title>developers</title>
    <link rel='stylesheet' href='/styles/devthemestyle.css'/>
    <link rel='stylesheet' href='/styles/devstyle.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
</head>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
<div class="inner">
    <h3 class="masthead-brand">Grade Predictor</h3>
    <nav>
        <ul class="nav masthead-nav">
            <li class="active" style="text-decoration: none; color: rgba(255,255,255,.75);"><a href="/developers">Contact Us</a></li>
            <li><a href="/signup" style="text-decoration: none; color: rgba(255,255,255,.75);">Sign Up</a></li>
            <li><a href="/login" style="text-decoration: none; color: rgba(255,255,255,.75);">Login</a></li>
            <li><a href="/index" style="text-decoration: none; color: rgba(255,255,255,.75);">Home</a></li>
        </ul>
    </nav>
</div>
                </div>

                <div class="inner cover">

    <hr class="featurette-divider">
    <h1>The Developers</h1>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Vikramraj Sitpal <span class="text-muted"></span></h2>
            <p class="lead">(Front end Development)</p>
        </div>
        <div class="col-md-5">
            <a href="http://www.github.com/vikramrajsitpal">
                <img id="img1" class="circular" data-src="holder.js/500x500/auto" alt="Vikram" src="/images/developers/Vikram.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <div>
                <h2 class="featurette-heading">Kunal Nagpal <span class="text-muted"></span></h2>
                <p class="lead">(Back end Support)</p>
            </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <a href="http://www.github.com/kunagpal">
                <img id="img2" class="circular" data-src="holder.js/500x500/auto" alt="Kunal" src="/images/developers/Kunal.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Tanuj Aggarwal <span class="text-muted"></span></h2>
            <p class="lead">(Front end development)</p>
        </div>
        <div class="col-md-5">
            <a href="http://www.github.com/bluffmaster95tanuj">
                <img id="img3" class="circular" data-src="holder.js/500x500/auto" alt="Tanuj" src="/images/developers/Tanuj.jpg" data-holder-rendered="true"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right" ><a href="#" style="color: #ffffff">Back to top</a></p>
        <p>&copy; IWP Project Work</p>
    </footer>

            </div>

        </div>

    </div>
    </div>
</body>
</html>