<!DOCTYPE html>
<html>
  <head>
    <title>feedback</title>
      <link rel='stylesheet' href='/styles/detstyle.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
  <!-- Header -->
  <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-toggle"></span>
              </button>
              <a class="navbar-brand" href="#" style="color: #ffffff">Grade Predictor</a>
          </div>
          <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav navbar-right">

                  <li>
                      <a role="button" href="/home"  style="color: #ffffff">
                          <i class="glyphicon glyphicon-user"></i> <%= name%></a>
                  </li>
              </ul>
          </div>
      </div><!-- /container -->
  </div>
  <!-- /Header -->


  <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      Please remember to Logout for classified security.
  </div>
  <!-- /Main -->
<hr class="featurette-divider">

  <footer class="text-center" style="margin-top: 50px">&copy;IWP Project Group - Vikram, Kunal and Tanuj</footer>




  </body>
</html>