<!DOCTYPE html>
<html>
  <head>
    <title>grades</title>
      <link rel='stylesheet' href='/styles/gradestyle.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
  </head>
  <body>

  <ul class="nav nav-pills nav-justified">

      <li><a href="/gradespredicted">GRADES PREDICTION</a></li>
      <li class="active"><a href="/grades">GRADES</a></li>
      <li ><a href="/details">DETAILS</a></li>
      <li><a href="/home">HOME</a></li>
      <li> <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-user"></span> User
          </button></li>
  </ul>

  <div class="container">
      <h2>Details</h2>
      <p>This is your performance as of now</p>
      <table class="table table-bordered table-hover">
          <thead>
          <tr>
              <th>SI No.</th>
              <th>Course Code</th>
              <th>Course Title</th>
              <th>Course Type</th>
              <th>CAT-I<br>(Max. 50)</th>
              <th>CAT-II<br>(Max. 50)</th>
              <th>Quiz-I<br>(Max. 5)</th>
              <th>Quiz-II<br>(Max. 5)</th>
              <th>Quiz-III<br>(Max. 5)</th>
              <th>Assignment<br>(Max. 5)</th>
              <th>Lab<br>(Max. 50)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          </tbody>
      </table>
  </div>
  </body>
</html>