<!DOCTYPE html>
<html>
  <head>
    <title>userhome</title>

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
  </head>
  <body>
  <ul class="nav nav-pills nav-justified">

      <li><a href="/gradespredicted">GRADES PREDICTION</a></li>
      <li class="active"><a href="/grades">GRADES</a></li>
      <li ><a href="/details">DETAILS</a></li>
      <li><a href="/home">HOME</a></li>
      <li> <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-user"></span> User
          </button></li>
  </ul>
  </body>
</html>