<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <link rel='stylesheet' href='/styles/indstyle.css' />
    <link rel='stylesheet' href='/styles/min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/min.js"></script>
</head>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Grade Predictor</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="#" style="text-decoration: none; color: rgba(255,255,255,.75);">Contact Us</a></li>
                            <li><a href="/signup" style="text-decoration: none; color: rgba(255,255,255,.75);">Sign Up</a></li>
                            <li class="active" style="text-decoration: none; color: rgba(255,255,255,.75);"><a href="/login">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Welcome User!</h1>
                <p class="lead">Worried about your result? And about the semester's fun time you can have? Well, what if we can help you find out your approximate scores based on your past and current scores? Is that something you might be interested in?</p>
                <p class="lead">
                    <a href="/login" class="btn btn-lg btn-default" style="color : rgba(0, 0, 0, 0.98); text-decoration: none" >Learn more >></a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; IWP Project Group - Vikram, Kunal and Tanuj</p>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>