<!DOCTYPE html>
<html>
  <head>
    <title>Home | GP</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/min.css' />
    <script type="text/javascript" src="/scripts/min.js" ></script>
  </head>
  <body>
    <h1>Grade Predictor</h1>
    <p>Welcome</p>
  </body>
</html>
