<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <link rel='stylesheet' href='/styles/indstyle.css' />
    <link rel='stylesheet' href='/styles/min.css' />
    <script type="text/javascript" src="/scripts/min.js"></script>
</head>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Grade Predictor</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/login">Login</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Welcome User!</h1>
                <p class="lead">Worried about your result? About the semester's fun time you can have? Well, what if we can help you find out your approximate scores based on your past and current circumstances? Is that something you might be interested in?</p>
                <p class="lead">
                    <a href="/login" class="btn btn-lg btn-default">Learn more >></a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; IWP Project Group - Vikram, Kunal and Tanuj</p>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>