<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/min.css' />
    <script type="text/javascript" src="/scripts/min.js" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= "our website" %></p>
  </body>
</html>
