<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/min.css' />
    <script type="text/javascript" src="/scripts/min.js"></script>
  </head>
  <body>
  <div class="jumbotron">
  <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#">HOME</a></li>
      <li ><a href="#">DETAILS</a></li>
      <li><a href="#">GRADES</a></li>
      <li><a href="#">PREDICTION</a></li>
  </ul>


  <form action="login" method="post" autocomplete="on" role="form" class="form-horizontal">

          <h1>Login</h1>
      <div class="form-group">
          <label for="userid" class="col-sm-2 control-label">User ID</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="userid" placeholder="Enter User ID" pattern="\d{2}\w{3}\d{4}" required>
          </div>
      </div>

      <div class="form-group">
          <label for="pwd" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
              <input type="password" class="form-control" id="pwd" placeholder="Enter Password" autocomplete="off" required>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
          </div>
      </div>

      <p><b>Not a user? Don't worry! Sign up for free!</b></p>
      <button type="button" class="btn btn-info"><a href="/signup"><b>Sign Up</b></a></button>
  </form>
      </div>
  </body>
</html>