<!DOCTYPE html>
<html>
  <head>
    <title>userhome</title>

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
  </head>
  <body>
  <ul class="nav nav-pills nav-justified">

      <li><a href="/gradespredicted">GRADES PREDICTION</a></li>
      <li class="active"><a href="/grades">GRADES</a></li>
      <li ><a href="/details">DETAILS</a></li>
      <li><a href="/home">HOME</a></li>
      <li> <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-user"></span> User
          </button></li>
  </ul>

  <div class="container">
      <h2>Grade cut-offs</h2>
      <p>Based on your class performance, these are the predicted grade cut-offs</p>
      <table class="table table-bordered table-hover">
          <thead>
          <tr>
              <th>SI No.</th>
              <th>Course Code</th>
              <th>Course Title</th>
              <th>Course Type</th>
              <th>Cut-off (S)</th>
              <th>Cut-off (A)</th>
              <th>Cut-off (B)</th>
              <th>Cut-off (C)</th>
              <th>Cut-off (D)</th>
              <th>Cut-off (E)</th>
              <th>Cut-off (F)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          </tbody>
      </table>
  </div>

  <div class="container">
      <h2>Details</h2>
      <p>These could be your possible grades this semester</p>
      <table class="table table-bordered table-hover">
          <thead>
          <tr>
              <th>SI No.</th>
              <th>Course Code</th>
              <th>Course Title</th>
              <th>Course Type</th>
              <th>Predicted Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          </tbody>
      </table>
  </div>

  </body>
</html>