<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel='stylesheet' href='/styles/resetstyle.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/resetval.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
</head>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Grade Predictor</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="/developers" style="text-decoration: none; color: rgba(255,255,255,.75);">Contact Us</a></li>
                            <li><a href="/signup" style="text-decoration: none; color: rgba(255,255,255,.75);">Sign Up</a></li>
                            <li class="active" style="text-decoration: none; color: rgba(255,255,255,.75);"><a href="/login">Login</a></li>
                            <li><a href="/index" style="text-decoration: none; color: rgba(255,255,255,.75);">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
    <form action="reset" method="post" autocomplete="off" role="form" class="form-horizontal">
        <input type="hidden" name="_csrf" value="<%= token %>">
        <h1 style="margin-left: 150px;margin-bottom: 30px" align="left"><span class="label label-info">Reset Password</span></h1>
        <div class="form-group" width="90%">
            <label for="pwd" class="col-sm-2 control-label">Enter New Password </label>
            <div class="col-sm-10">
                <input type="password" id="pwd" name="password" class="form-control" placeholder="Enter Password" required>
            </div>
        </div>
        <div class="form-group" width="90%">
            <label for="rpwd" class="col-sm-2 control-label">Re-enter Password </label>
            <div class="col-sm-10">
                <input type="password" id="rpwd" name="confirm" class="form-control" placeholder="Re-enter Password" required>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg" id="si">Reset</button>
            </div>
        </div>
    </form>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; IWP Project Group - Vikram, Kunal and Tanuj</p>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>