<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel='stylesheet' href='/styles/signupstyle.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron" id="jum">
    <form action="reset" method="post" autocomplete="on" role="form" class="form-horizontal">
        <h1 style="margin-left: 150px;margin-bottom: 30px"><span class="label label-info">Reset Password</span></h1>
        <div class="form-group" width="90%">
            <label for="pwd" class="col-sm-2 control-label">Enter New Password </label>
            <div class="col-sm-10">
                <input type="password" id="pwd" name="password" class="form-control" placeholder="Enter Password" required>
            </div>
        </div>
        <div class="form-group" width="90%">
            <label for="rpwd" class="col-sm-2 control-label">Re-enter Password </label>
            <div class="col-sm-10">
                <input type="password" id="rpwd" name="confirm" class="form-control" placeholder="Re-enter Password" required>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg" id="si">Reset</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>