<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel='stylesheet' href='/styles/signupstyle.css' />

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/scripts/signupval.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/css/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="site-wrapper">

      <div class="site-wrapper-inner">

          <div class="cover-container">

              <div class="masthead clearfix">
                  <div class="inner">
                      <h3 class="masthead-brand">Grade Predictor</h3>
                      <nav>
                          <ul class="nav masthead-nav">
                              <li><a href="/developers" style="text-decoration: none; color: rgba(255,255,255,.75);">Contact Us</a></li>
                              <li class="active" style="text-decoration: none; color: rgba(255,255,255,.75);"><a href="/signup">Sign Up</a></li>
                              <li><a href="/login" style="text-decoration: none; color: rgba(255,255,255,.75);">Login</a></li>
                              <li><a href="/index" style="text-decoration: none; color: rgba(255,255,255,.75);">Home</a></li>
                          </ul>
                      </nav>
                  </div>
              </div>

              <div class="inner cover">
        <form action="signup" method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="<%= token %>">
                <h1 style="margin-left: 160px; margin-bottom: 30px;" align="left"><span class="label label-info">Create Profile</span></h1>
                <div class="form-group" width="90%">
                    <label for="fname" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="fname" class="form-control" placeholder="Enter First Name" onblur="small()" onfocus="enlfname()" required>
                    </div>
                </div>
                <br>
                <div class="form-group" width="90%">
                    <label for="mname" class="col-sm-2 control-label">Middle Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="mname" class="form-control" placeholder="Enter Middle Name" onblur="small()" onfocus="enlmname()">
                    </div>
                </div>
                <br>
                <div class="form-group" width="90%">
                    <label for="lname" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="lname" class="form-control" placeholder="Enter Last Name" onblur="small()" onfocus="enllname()" required>
                    </div>
                </div>
                <br>
                <div class="form-group" width="90%">
                    <label for="rno" class="col-sm-2 control-label">Reg. No.(User ID)</label>
                    <div class="col-sm-10">
                        <input type="text" id="rno" name="id" class="form-control" placeholder="Enter Reg. No." patter="\d{2}\w{3}\d{4}" onblur="small()" onfocus="enlrno()" required>
                    </div>
                </div>
                <br>
                <div class="form-group" width="90%">
                    <label for="pwd" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="pwd" name="password" class="form-control" placeholder="Enter Password" onblur="checkpswd()" onfocus="enlpwd()" required>
                    </div>
                </div>
                <br>
                <div class="form-group" width="90%">
                    <label for="rpwd" class="col-sm-2 control-label">Re-type Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="rpwd" name="confirm" class="form-control" placeholder="Re-enter Password" onblur="checkretype()" onfocus="enlrpwd()" value="" required>
                    </div>
                </div>
                <br>
                <div class="form-group" width="90%">
                    <label for="email" class="col-sm-2 control-label">Email ID</label>
                    <div class="col-sm-10">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email ID" onblur="small()" onfocus="enlemail()" required>
                    </div>
                </div>
                <br>
                <div class="form-group" width="90%">
                    <label for="dob" class="col-sm-2 control-label">Date of Birth</label>
                    <div class="col-sm-10">
                        <input type="date" id="dob" class="form-control" name="dob" placeholder="Enter Date of Birth" onblur="small()" onfocus="enldob()" required>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="si" class="btn btn-primary btn-lg">Sign up</button>
                    </div>
                </div>
                <br>
        </form>
              </div>

              <div class="mastfoot">
                  <div class="inner">
                      <p>&copy; IWP Project Group - Vikram, Kunal and Tanuj</p>
                  </div>
              </div>

          </div>

      </div>

  </div>
  </body>
</html>