<!DOCTYPE html>
<html>
  <head>
    <title>userhome</title>

    <link rel='stylesheet' href='/styles/min.css' />
    <script type="text/javascript" src="/scripts/min.js"></script>
  </head>
  <body>
  <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-user"></span> Userhome.ejs
  </button>
  <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#">HOME</a></li>
      <li ><a href="#">DETAILS</a></li>
      <li><a href="#">GRADES</a></li>
      <li><a href="#">PREDICTION</a></li>
  </ul>



  </body>
</html></html>