.featurette-divider {
    margin: 80px 0;
}
#img1, #img3 {
    border: 5px ridge rgba(9, 8, 16, 0.13);
    padding: 5px;
    margin-right: 10px;
}

li {
    position: relative;
    display: inline-block;
    float: right;
    text-align: -webkit-match-parent;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#img2{
    border: 5px ridge rgba(9, 8, 16, 0.13);
    padding: 5px;
    margin-left: 10px;

}
#rt {
 float: right;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}