.featurette-divider {
    margin: 80px 0;
}
#img1, #img3 {
    position: relative;
    float: right;
    padding: 10px;
    margin-right: 10px;
    width: auto;
}

.cover{
    width: 700px;
}

li {
    position: relative;
    display: inline-block;
    float: right;
    text-align: -webkit-match-parent;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#img2 {

    padding: 10px;
    margin-left: 0px;
    clear: both;
    float:left;
}
.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.01);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0);
}


#rt {
    float: right;

}
