li {
    position: relative;
    display: inline-block;
    float: right;
    text-align: -webkit-match-parent;
}
a, a:focus, a:hover {
    color: #ffffff;

}
.container {
    margin-left: 50px;
}

.mic {
    text-align: center;
}
#tab {
    width: 100px;
}