body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    align-self: center;
}

a {
  color: #00B7FF;
}

a:visited {
    color : black;
}
a:hover {
    color : black;
}
#bt {margin: 20px;
}
#uid, #pswd {
    width : 300px;
}
#jum {
    border: 5px solid black;

}
#si {
    width: 200px;
    text-align: center;
}