body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    align-self: center;
}

a {
  color: #00B7FF;
}
table{
    border : 5px solid black;
    align-self: center;
}
p{
    text-shadow : 2px 2px 2px gray;
}
a:visited {
    color : black;
}
a:hover {
    color : black;
}
