body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-self: center;
}

a {
  color: #00B7FF;
}

a:visited {
    color : black;
}
a:hover {
    color : black;
}
#bt {margin-left: 200px;
    margin-top: 20px;
}
#uid, #pswd {
    width : 300px;
}
#jum {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    padding-left: 300px;

}
#si {
    width: 200px;
    text-align: center;
}